.DS_Store
Thumbs.db

/.settings/*
/html-template/*
/bin-debug/*
/bin-release/*
/bin/*
/test/*

.actionScriptProperties
.flexProperties
.flexLibProperties
.FlexUnitSettings
.project
.sourceMate
.fxpProperties
